* {
    padding: 0;
    margin: 0;
  
     
  }
.m-r-10px{ margin-right:10px; }
.m-b-10px{ margin-bottom:10px; }
.m-b-15px{ margin-bottom:15px; }
.m-b-20px{ margin-bottom:20px; }
.w-5-pct{ width:5%; }
.w-10-pct{ width:10%; }
.w-15-pct{ width:15%; }
.w-20-pct{ width:20%; }
.w-25-pct{ width:25%; }
.w-30-pct{ width:30%; }
.w-35-pct{ width:35%; }
.w-40-pct{ width:40%; }
.w-45-pct{ width:45%; }
.w-50-pct{ width:50%; }
.w-55-pct{ width:55%; }
.w-60-pct{ width:60%; }
.w-65-pct{ width:65%; }
.w-70-pct{ width:70%; }
.w-75-pct{ width:75%; }
.w-80-pct{ width:80%; }
.w-85-pct{ width:85%; }
.w-90-pct{ width:90%; }
.w-95-pct{ width:95%; }
.w-100-pct{ width:100%; }
.m-t-10px{ margin-top:10px; }
.display-none{ display:none; }
.padding-bottom-2em{ padding-bottom:2em; }
.width-30-pct{ width:30%; }
.width-40-pct{ width:40%; }
.overflow-hidden{ overflow:hidden; }
.margin-right-1em{ margin-right:1em; }
.right-margin{ margin:0 .5em 0 0; }
.margin-bottom-1em { margin-bottom:1em; }
.margin-zero{ margin:0; }
.text-align-center{ text-align:center; }
.m-10-all{margin: 10px;}
.table {
    width: 80%;
    max-width: 100%;
    margin-bottom: 20px;
}
.m-l-30 px{
    margin-left: 30px;
   }

.body{
    font-size: 17px;
}
.btn-up{
    display: block;
    width: 100%;
}
.add-fields{
    display: block;
}
.m-all-50px{
    margin-bottom: 50px;
}
.fileinput-button{width: 150px;
height: 45px;
text-align: center;
border: none;
 }
 .container{
     width: 1000px;
 }
 .m-l-50px{
     margin-left: 50px;
 }